:root {
    --background-color: #306cb1;
    --color-light: #f1f3f5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Gill Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: var(--color-light);
    padding: 3.2rem;
    overflow: hidden;
}
